h1{
    background-color: #ADD8E6;
    color: white;
    text-align: center
}
h2{
    background-color: #ADD8E6;
    color: white;
    text-align: center
}
ul{
    background-color: #ADD8E6;
    color: white;
    text-align: center
}